[submodule "LevelManager"]
	path = LevelManager
	url = git@github.com:Spiky-Games/LevelManager.git
[submodule "EventSystemManager"]
	path = EventSystemManager
	url = git@github.com:Spiky-Games/EventSystemManager.git
[submodule "EasyDebugSystem"]
	path = EasyDebugSystem
	url = git@github.com:Spiky-Games/EasyDebugSystem.git
[submodule "UpdateService"]
	path = UpdateService
	url = git@github.com:Spiky-Games/UpdateService.git
[submodule "UIService"]
	path = UIService
	url = git@github.com:Spiky-Games/UIService.git
[submodule "PremadeCameras"]
	path = PremadeCameras
	url = git@github.com:Spiky-Games/PremadeCameras.git
[submodule "InputManager"]
	path = InputManager
	url = git@github.com:Spiky-Games/InputManager.git
