[submodule "LevelManager"]
	path = LevelManager
	url = git@github.com:Spiky-Games/LevelManager.git
[submodule "UserDataManager"]
	path = UserDataManager
	url = git@github.com:Spiky-Games/UserDataManager.git
[submodule "EventSystemManager"]
	path = EventSystemManager
	url = git@github.com:Spiky-Games/EventSystemManager.git
[submodule "EasyDebugSystem"]
	path = EasyDebugSystem
	url = git@github.com:Spiky-Games/EasyDebugSystem.git
